
body {
    display: flex;
    flex-direction: column;
    background-color: #F8F0D2;
  }
header {
    width: 100%;
    padding:0px;
    margin:0px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F15A24;
    /*background: url("https://raw.githubusercontent.com/Francisjung/PJ_website/main/assets/banner.jpg");
    background-repeat: no-repeat;
    background-size:cover;*/
    left: 0;
    top:0;
}
  h1{
    font-size: 72px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}
    h2{
      font-family: 'Cedarville Cursive', cursive;
      font-style: italic;
}
.page-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#F15A24;
  }
  
  .header-li {
    float: left;
  }
  
  .header-li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header-li a:hover {
    background-color:#eb7f57;
    cursor: pointer;
  }

  .Active{
    background-color: #eb7f57;
  }
  main{
    display: flex;
    flex-direction: column;
  }
  .row-1{
    display: inline;
  }
  .banner-img{
    width:100%;
    padding: 0px;
    margin: 0px;
  }
  .portrait-div{
    float: left;
    width:50%;
  }
  .portrait{
    display: inline;
    margin:auto;
    margin-top: 300px;
    margin-left: 35%;
    width: 33%;
    border-radius: 5%;
  }
  .greeting{
    margin-top: 500px;
    font-size: 48px;
}
.main-text-section{
  width:66%;
  margin: auto;
  font-size: 24px;
}
.page-title{
  margin-top: 250px;
  font-size: 48px;
  text-align: center;
}
.vita-ul{
  list-style: none;
  text-align: center;
  font-size: larger;
  line-height: 2em;
}
.vita-li{
}
.list-title{
  font-size: large;
  text-align: center;
  text-decoration: underline;
}